body {
    background-color: lightblue;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 400px;
    height: 400px;
    background-color: blueviolet;
    margin: 0 auto;
    position: relative;
    color: white;
    font-family: arial;
    font-size: larger;
    font-style: oblique;
    /* background-size: 300px; */
    background-image: url(ball-1906468_1280.png), url(photography-149174_960_720.png),url(img2.jpg);
    background-repeat: repeat;
    background-size: contain;

}

.row {
    position:absolute ;
    margin-top: 20px;
    top: 130px;
    left: 280px;
    height: 250px;
    width: 250px;
    color: white;
    /* background-color: transparent; */
    font-family: cursive;
    font-size: larger;
    
    /* background-size: contain; */
    /* background-repeat: no-repeat; */
    /* background-position: center bottom; */
}

p {
    font-size: 16px;
    line-height: 4em;
    margin-left: 4em;   
    width: 20em;
    text-indent: 2em;
    border: 1px solid black;
  }
  
  div {
    font-size: 30px;
    
  }
  
  span {
    font-size: 0.5em;
  }